@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model TGFPIZZAHUB.Models.HomeModel
@{
    ViewData["Title"] = "Home Page";
    string ClientID = Model.ClientID.ToString();
    string accountId = Model.AccountId?.ToString();
    string locationId = Model.LocationId?.ToString();
    string catalogId = Model.CatalogId?.ToString();
    string accountName = Model.AccountName?.ToString();
    string locationName = Model.LocationName?.ToString();
    string catalogName = Model.CatalogName?.ToString();

    /*string accountId = ViewData["account_id"] == null ? null : ViewData["account_id"].ToString();
    string locationId = ViewData["location_id"] == null ? null : ViewData["location_id"].ToString();
    string catalogId = ViewData["catalog_id"] == null ? null : ViewData["catalog_id"].ToString();
    string accountName = ViewData["account_name"] == null ? null : ViewData["account_name"].ToString();
    string locationName = ViewData["location_name"] == null ? null : ViewData["location_name"].ToString();
    string catalogName = ViewData["catalog_name"] == null ? null : ViewData["catalog_name"].ToString();*/
}
<br/>

<div class="text-center">
    <h4>Welcome TGFPIZZAHUB</h4>
    <p>Order from HubRise will be shown when the order is created</p>
</div>

<div>
    @if (string.IsNullOrEmpty(accountId))
    {
        <h6>Share data with other applications.</h6>
        <button onclick="connectHubrise()">Connect to HubRise</button>
    } else {
        <h6>Connected to HubRise</h6>
        <p>Location: @locationName - @locationId</p>
        <p>Catalog: @catalogName - @catalogId</p>
        <div class="d-flex flex-row">
            <a target="_blank" href="https://hubrise.com"><u>Go to HubRise</u></a>
            <p class="mx-2">-</p>
            <p onclick="disconnect()"><u class="cp">Disconnect</u></p>
        </div>
    }
</div>

<div class="modal fade" id="orderModal"  role="dialog" aria-labelledby="orderModalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="false">
  <div class="modal-dialog order-modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content order-modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLongTitle">Order Details</h5>
      </div>
      <div class="modal-body order-modal-body order-detail-body" name="order-modal-body" id="order-modal-body">
        
      </div>
      <input type="hidden" name="confirmtime" id="confirmtime" value=""/>
      <input type="hidden" name="orderData" id="orderData" value="" />
      <input type="hidden" name="orderId" id="orderId" value="" />
      <input type="hidden" name="orderLocationId" id="orderLocationId" value=""/>
      <input type="hidden" name="serviceTypeRef" id="serviceTypeRef" value="" />
      <input type="hidden" name="serviceType" id="serviceType" value="" />
      <input type="hidden" name="isAccepted" id="isAccepted" value="" />
      <div class="mt-2 mb-2 justify-content-center" id="time_spin" style="display:flex;">
                <button type="button" onClick="changeDelivery('minus')" class="p-0 btn btn-secondary" style="width:100px;"><span>&#8211;</span><br />10 MIN</button>
            <div class="ms-4 me-4 w-10 flex-column d-flex align-items-center justify-content-center">
                <p class="card-title mt-0 mb-0 font-weight-bold" name="service_type" id="service_type"></p> 
                <div class="d-flex align-items-center justify-content-center">
                    <p class="card-title mt-0 mb-0 font-weight-bold me-2" style="line-height: 2;" id="delivery_time" name="delivery_time"></p> 
                    <img width="28px" height="28px" id="service_type_ref_img" />
                </div>
            </div>
            <button type="button" onClick="changeDelivery('plus')" class="p-0 btn btn-secondary" style="width:100px;"><span>&#43;</span><br />10 MIN</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="closeButton" onClick="closeModal()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" id="printButton" onclick="printOrder()">Print</button>
        <button type="button" class="btn btn-primary" id="confirmButton" onclick="changeOrderStatus('confirmed')">Confirm</button>
        <button type="button" class="btn btn-secondary" id="rejectButton" onClick="changeOrderStatus('rejected')" data-dismiss="modal">Reject</button>
        <button type="button" class="btn btn-primary" id="acceptButton" onclick="changeOrderStatus('accepted')">Accept</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="savingModal" role="dialog" aria-labelledby="savingModalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered align-items-center justify-content-center" role="document">
        <div class="modal-content " style="width:fit-content;">
            <div class="modal-body" style="width:fit-content;">
                <img src="~/imgs/saving.gif" width="200px" height="200px" />
            </div>
        </div>
    </div>
</div>

<div class="row w-100">
    <div class="col-md-6 col-sm-12">
        <h4>New</h4>
        <div id="pendingorders" class="display-grid mt-1" name="pendingorders" style="display:grid;width:100%;grid-template-columns:repeat(1, 250px);grid-column-gap:15px;grid-row-gap:5px;">
        </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <h4>Accepted</h4>
        <div id="acceptedorders" class="display-grid" name="acceptedorders" style="display:grid;width:100%;grid-template-columns:repeat(1, 250px);grid-column-gap:15px;grid-row-gap:5px;">
        </div>
    </div>
</div>

<script>
    function connectHubrise() {
        let clientId = "@ClientID";
        var authUrl = "https://manager.hubrise.com/oauth2/v1/authorize?redirect_uri=" + window.location.href + "Home/Callback&" + "client_id=" + clientId + "&scope=location[customer_list.read,orders.write,catalog.read]"
        window.location.href = authUrl;
    }

    function disconnect() {
        $.ajax({
            url: '/Home/Disconnect',
            type: 'POST',
            success: function (res) {
                window.location.href = "/Home/Index";
            },
            error: function(xhr) {

            }
        })
    }
</script>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/hubriseclient.js"></script>
