@model HubRiseModel
@{
    ViewData["Title"] = "Home Page";
}

<br/>
<br/>
<div class="text-center">
    <h1 class="display-4">Welcome TGFPIZZAHUB</h1>
    <p>Order from HubRise will be shown when the order is created</p>
</div>

<div id="hubriseresponse" name="hubriseresponse" style="width: 500px">
    
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/hubriseclient.js"></script>
