@{
    ViewData["Title"] = "Home Page";
}
<br/>
<div class="text-center">
    <h4>Welcome TGFPIZZAHUB</h4>
    <p>Order from HubRise will be shown when the order is created</p>
</div>

<div class="modal fade" id="orderModal"  role="dialog" aria-labelledby="orderModalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="false">
  <div class="modal-dialog order-modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content order-modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLongTitle">Order Details</h5>
      </div>
      <div class="modal-body order-modal-body order-detail-body">
        
      </div>
      <input type="hidden" name="confirmtime" id="confirmtime" value=""/>
      <input type="hidden" name="orderData" id="orderData" value="" />
      <input type="hidden" name="orderId" id="orderId" value="" />
      <input type="hidden" name="orderLocationId" id="orderLocationId" value=""/>
      <input type="hidden" name="serviceTypeRef" id="serviceTypeRef" value="" />
      <input type="hidden" name="serviceType" id="serviceType" value="" />
      <input type="hidden" name="isAccepted" id="isAccepted" value="" />
      <div class="d-flex mt-2 mb-2 justify-content-center">
            <button type="button" onClick="changeDelivery('minus')" class="p-0 btn btn-light" style="width:100px;border-color: cornflowerblue;color:#0000ff;background: whitesmoke;"><span>&#8211;</span><br/>10 MIN</button>
            <div class="ml-4 mr-4 w-10 flex-column d-flex align-items-center justify-content-center">
                <p class="card-title mt-0 mb-0 font-weight-bold" name="service_type" id="service_type"></p> 
                <div class="d-flex align-items-center justify-content-center">
                    <p class="card-title mt-0 mb-0 font-weight-bold mr-2" style="line-height: 2;" id="delivery_time" name="delivery_time"></p> 
                    <img width="28px" height="28px" id="service_type_ref_img" />
                </div>
            </div>
                <button type="button" onClick="changeDelivery('plus')" class="p-0 btn btn-light" style="width:100px;border-color: cornflowerblue;color:#0000ff;background: whitesmoke;"><span>&#43;</span><br />10 MIN</button>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="closeButton" onClick="closeModal()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-secondary" id="rejectButton" onClick="changeOrderStatus('rejected')" data-dismiss="modal">Reject</button>
        <button type="button" class="btn btn-primary" id="acceptButton" onclick="changeOrderStatus('accepted')">Accept</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="savingModal" role="dialog" aria-labelledby="savingModalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered align-items-center justify-content-center" role="document">
        <div class="modal-content " style="width:fit-content;">
            <div class="modal-body" style="width:fit-content;">
                <img src="~/imgs/saving.gif" width="200px" height="200px" />
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-row" style="width:100%">
    <div id="pendingorders" class="display-grid" name="pendingorders" style="display:grid;width:100%;grid-template-columns:repeat(1, 250px);grid-column-gap:15px;grid-row-gap:5px;">
    </div>

    <div id="acceptedorders" class="display-grid" name="acceptedorders" style="display:grid;width:100%;grid-template-columns:repeat(1, 250px);grid-column-gap:15px;grid-row-gap:5px;">
    </div>
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/hubriseclient.js"></script>
